<form class="m-3">

    <div class="row">
        <div class="col col-8 col-md-4">
            <select class="form-select mb-3" aria-label="Select types of a product">
                <option selected>Quel est le type du produit</option>
                <option value="1">LAITIER</option>
                <option value="2">PROTEINE</option>
                <option value="3">FRUIT</option>
                <option value="3">LEGUME</option>
                <option value="3">GRAIN_ENTIER</option>
            </select>
        </div>
    </div>
    
    

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
