<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center" routerLink="/benevole">
      <img class="me-2 rounded-circle" width="50" height="50" src="https://th.bing.com/th/id/OIP.h0rGeknviQjZeAtcZLUTkAHaHa?rs=1&pid=ImgDetMain" alt="logo">
      <span class="fw-bold">{{appStateService.title}}</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" *ngFor="let action of actions">
          <a class="nav-link" aria-current="page" routerLink="{{action.route}}"
            [hidden]="(!(appStateService.authState.roles.includes('DIRECTEUR') || appStateService.authState.roles.includes('BENEVOLE')) && (action.title == 'Utilisateurs' || action.title == 'Boîtes'))">
            {{action.title}}
          </a>
        </li>
        
        <li class="nav-item dropdown" *ngIf="appStateService.authState.roles.includes('DIRECTEUR')">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-cogs"></i> Paramètres
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/benevole/new_product">Ajouter de nouveaux produits</a></li>
            <li><a class="dropdown-item" routerLink="/benevole/new_boxe">Ajouter de nouvelles boîtes</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex ms-4">
        <input class="form-control me-2" type="search" placeholder="Rechercher" aria-label="Search">
        <button class="btn btn-outline-success me-2" type="submit">Rechercher</button>
      </form>
    </div>
    <div class="d-flex align-items-center">
      <p class="mb-0 me-4">{{appStateService.authState.username}}</p>
      <button type="button" (click)="login()" class="btn btn-secondary m-2" *ngIf="!appStateService.authState.isAuthentificated">Connexion</button>
      <button type="button" (click)="logout()" class="btn btn-danger m-2" *ngIf="appStateService.authState.isAuthentificated">Déconnexion</button>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
