@media only screen and  (min-width: 768px) {
    div.sticky {
        position: fixed;
      bottom: 150px;
      transform: translateX(300%);
      }
}


    @media only screen and  (min-width: 768px){
        nav.fixed-bottom {
            bottom: 1px;
        }
    }

    

    
    

    @media only screen and  (min-width: 576px) and (max-width:768px){
        nav.fixed-bottom {
            bottom: 10px;
        }
    }


    .table-hover tbody tr:hover {
        background-color: #f8f9fa;
        transition: background-color 0.3s ease-in-out;
      }
      
      .page-link.active {
        background-color: #007bff;
        color: white;
      }
      
      .btn-outline-primary:hover {
        background-color: #007bff;
        color: white;
      }
      
      .btn-outline-danger:hover {
        background-color: #dc3545;
        color: white;
      }
      
