<!-- Formulaire de recherche -->
<form class="d-flex mt-2 ms-3 row g-3 align-items-center">
  <div class="col-12 col-sm-6 col-md-4 col-lg-3">
    <input 
      class="form-control shadow-sm" 
      type="search" 
      [(ngModel)]="appState.productState.keyword"
      name="keywordSearchProduct"
      placeholder="Rechercher un produit..." 
      aria-label="Search">
  </div>
  <div class="col">
    <button 
      class="btn btn-outline-success shadow-sm" 
      (click)="handleSearch()" 
      type="submit">
      <i class="bi bi-search me-1"></i> Rechercher
    </button>
  </div>
</form>

<!-- Liste des produits -->
<div class="card bg-light border-0 shadow-sm m-3">
  <div class="container-fluid mt-3">
    <div class="row g-3">
      <div 
        class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex justify-content-center" 
        *ngFor="let product of appState.productState.products">
        
        <div class="card mb-3 shadow-sm" style="width: 100%;">
          <img 
            class="card-img-top rounded-top" 
            src="{{product.photo}}" 
            alt="{{product.nom}}" 
            style="width: 100%; height: 300px; object-fit: cover;">
          
          <div class="card-body">
            <h5 class="card-title text-primary">{{product.nom}}</h5>
            <p class="card-text text-muted">Quelques exemples de texte Quelques exemples de texte.</p>
            
            <div class="d-flex justify-content-between mb-2">
              <span>
                <strong>Quantité :</strong> {{product.quantite}}
              </span>
              <span>
                <strong>Boite :</strong> #{{product.boite_id}}
              </span>
            </div>
            
            <div class="d-flex justify-content-between">
              <button 
                class="btn btn-primary btn-sm" 
                (click)="handleDetailProduct(product)">
                <i class="bi bi-eye me-1"></i> Voir le profil
              </button>
              
              <button 
                *ngIf="(appState.authState.roles.includes('DIRECTEUR'))" 
                class="btn btn-danger btn-sm" 
                (click)="handleDeleteProduct(product)">
                <i class="bi bi-trash me-1"></i> Supprimer
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Pagination -->
<div class="ms-3 mb-3 d-flex justify-content-center">
  <ngb-pagination 
    class="shadow-sm"
    [collectionSize]="appState.productState.totalProducts"
    [(page)]="appState.productState.currentPage"
    [maxSize]="5"
    [rotate]="true"
    [ellipses]="false"
    [boundaryLinks]="true"
    (pageChange)="handleGoToPage($event)">
  </ngb-pagination>
</div>
