<div ngbAccordion [closeOthers]="false" class="m-3">
  @for (boite of appStateBoites.boitesState.boites; track boite) {
    <div ngbAccordionItem [collapsed]="boite.id !== 1" class="mb-3 shadow-sm">
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton class="accordion-header bg-primary text-white p-3 rounded">
          Boite #{{ boite.id }} : {{ boite.type }}
        </button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody class="p-4 bg-light rounded">
          <ng-template>
            <div class="row g-3">
              <div
                class="col-12 col-md-6 col-lg-4 d-flex justify-content-center"
                *ngFor="let product of filtreProductsByBoxes(boite.id)"
              >
                <div class="card shadow-lg mb-3" style="width: 100%; max-width: 350px;">
                  <img
                    class="card-img-top rounded-top"
                    src="{{ product.photo }}"
                    alt="Image produit"
                    style="width: 100%; height: 200px; object-fit: cover;"
                  />
                  <div class="card-body">
                    <h5 class="card-title text-primary">{{ product.nom }}</h5>
                    <p class="card-text text-muted">
                      Quelques exemples de texte. Quelques exemples de texte.
                    </p>
                    <div class="card-text d-flex align-items-center mb-3">
                      <strong class="me-2">Quantité :</strong>
                      {{ product.quantite }}
                    </div>
                    <div class="d-flex justify-content-between">
                      <button
                        class="btn btn-outline-primary"
                        (click)="handleDetailProduct(product)"
                      >
                        Voir le profil
                      </button>
                      <button
                        *ngIf="appStateBoites.authState.roles.includes('DIRECTEUR')"
                        class="btn btn-outline-danger"
                      >
                        Supprimer
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  }
</div>
